<div class="footer footer-class">
  <div class="footer-links text-right justify-content-between links">
    <a href="#"><i class="fab fa-github p-1"></i></a>
    <a href="#"><i class="fab fa-instagram p-1"></i></a>
    <a href="#"><i class="fab fa-facebook p-1"></i></a>
    <a href="#"><i class="fab fa-twitter p-1"></i></a>
  <a href="#"><i class="fab fa-linkedin p-"></i></a>
  </div>
  <div class="footer-list">
    <ul>
      <li>About us</li>
      <li>Legal</li>
      <li>Privacy Policy</li>
      <li>Cookies</li>
      <li>Help Center</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div class="footer-copyright text-left">
    Copyright ©2019 Yoohood.
  </div>
</div>
