.navbar-lewagon {
  justify-content: space-between;
  color: white;
  background:transparent;
  z-index: 100;
  position: fixed;
  width: 100vw;
}

.navbar-appear {
  background-color: rgba(35, 35, 35, 0.7);
  box-shadow: 0 0 15px rgba(0,0,0, 0.5);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  background-color: #352E2D;
}
